/*! ChildFunSans */
@font-face {
  font-family: "ChildFunSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("ChildFunSans/ChildFunSans.woff2") format("woff2"),
    url("ChildFunSans/ChildFunSans.ttf") format("truetype");
}
/*! Mononoki */
@font-face {
  font-family: "Mononoki";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Mononoki/mononoki-Regular.woff2") format("woff2"),
    url("Mononoki/mononoki-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mononoki";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("Mononoki/mononoki-Italic.woff2") format("woff2"),
    url("Mononoki/mononoki-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Mononoki";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("Mononoki/mononoki-Bold.woff2") format("woff2"),
    url("Mononoki/mononoki-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Mononoki";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("Mononoki/mononoki-BoldItalic.woff2") format("woff2"),
    url("Mononoki/mononoki-BoldItalic.ttf") format("truetype");
}
